// File: System Colors for Compact Appliance
// Description: These colors are used sparingly and for base use cases.
// Site: Compact Appliance

// ------------------------------------------------------------
// START SASS INCLUDES


// @include "variables/colors";


// END SASS INCLUDES
// ------------------------------------------------------------


/*doc
---
title: System Colors
name: base-colors
parent: colors
---

The following colors are used sparingly on any given page. They contrast and compliment the brand and base colors of the website and are used to draw the user's attention, usually as a CTA but also as a piece of information, such as a price that's on sale.

<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 s-card bg-color-brand-b bdr-color-brand-c"></div>
		<p class="center-block col-xs-9 col-sm-9 col-md-9 col-lg-9">
			<strong>Primary Emphasis</strong><br>
			Use this for primary CTAs. It is best practice to limit use 1 per page.
			<span class="center-block">
				<code>$color-brand-a</code>&nbsp;<code>#5eb9c2</code>
			</span>	
		</p>
	</div>
</div>
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 s-card bg-color-system-b bdr-color-system-bdark1"></div>
		<p class="center-block col-xs-9 col-sm-9 col-md-9 col-lg-9">
			<strong>Checkout & Add to Cart</strong><br>
			This is a reserved for Cart & Checkout System Color CTA's only.
			<span class="center-block">
				<code>$color-system-e</code>&nbsp;<code>#168e60</code>
			</span>	
		</p>
	</div>
</div>
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 s-card bg-color-system-d bdr-color-system-e"></div>
		<p class="center-block col-xs-9 col-sm-9 col-md-9 col-lg-9">
			<strong>Sale & Clearance</strong><br>
			Use this color for discount messaging. Beware of having too red...
			<span class="center-block">
				<code>$system-color-d</code>&nbsp;<code>#bd4b4b</code>
			</span>	
		</p>
	</div>
</div>

*/
.alert-danger {
	background-color: $color-system-d;
	border-color: $color-base-b;
	color: $color-base-b;
}

.alert-warning {
	background-color: $color-base-b;
	border-color: $color-base-b;
	color: $color-base-f;
}

.alert-success {
	background-color: $color-system-c;
	border-color: $color-system-c;
	color: $color-base-f;
}

.alert-info {
	background-color: $color-system-a;
	border-color: $color-system-a;
	color: $color-base-f;
}

/*doc
---
title: Alert Colors
name: alert-colors
parent: base-colors
---

These colors are reserved for alert messages and user feedback. They are lighter variations of the 
brand and base colors so they compliment the theme.

<div class="alert alert-info" role="alert">You might find this handy so <a class="alert-link">click here</a> to read more...</div>
<div class="alert alert-success" role="alert">Great! Now let's move on to the next thing <a class="alert-link">click here</a>...</div>
<div class="alert alert-warning" role="alert">Just a heads-up. Take another look <a class="alert-link">here</a> to read more...</div>
<div class="alert alert-danger" role="alert">Sorry, but would you mind correcting these red items. We'll try to make this easier next time. Need some help? <a class="alert-link">Click here</a> to read more...</div>

*/

