// File: Lists
// Description: 
// Version: 0.1.0
// ------------------------------------------------------------


li{
  padding-bottom:1rem;
}

.nav-tabs>li{
 padding-bottom:0; 
}

/*doc
---
title: Lists
name: lists
parent: typography
---



*/